{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
jQuery(document).ready(function($) {
    $('#m').css({
        "border":"none",
        "background":"none",
        "cursor":"default",
        "-moz-box-shadow":"none",
        "-webkit-box-shadow":"none",
        "box-shadow":"none"
    })
    var signup = function(event) {
        event.preventDefault()
        if ( $('#m').val() == "" ) {
            $('#signupform').submit();
        } else {
            alert("Are you human? If so, don't put anything in that last box...")
        }
    }
    $('#signup').bind('click',signup)
});
</script>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1>Create your account!</h1>
            <form id="signupform" method="post" action="{{url_for('account.register')}}">
                <input type="text" name="email">
                <input id="signup" type="submit" value="Create User" class="btn btn-primary">
                <br /><br /><br /><br /><br /><br /><input id="m" type="text" name="m">
            </form>
        </div>
    </div>
</div>

{% endblock %}

